{% extends 'adminapp/layout.html' %}
{% load static %}
{% block content %}
  <div class="wrapper ">
    <div class="main-panel">
      {% include 'adminapp/modules/navbar.html' %}
      <div class="content">
        <div class="container-fluid">
          
          <div class="row">
            <div class="col">
              <h3>{{title}}</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <table class="table table-striped table-dark">
                
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Account Number</th>
                    <th>Account Type</th>
                    <th>Server</th>
                    <th>Leverage</th>
                    <th>Base currency</th>
                    <th>Balance</th>
                    <th>Equity</th>
                    <th>Free Margin</th>
                    <th>Profit</th>
                    <th>Credits</th>
                    <th>Status</th>
                    <th>State</th>
                    <th>Account Type</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  {% for ta in all_trading_accounts %}
                    <td>{{ ta.user.id }}</td>
                    <td>{{ ta.user.first_name }}</td>
                    <td>{{ ta.account_number }}</td>
                    <td>{{ ta.account_type }}</td>
                    <td>{{ ta.server }}</td>
                    <td>{{ ta.leverage }}</td>
                    <td>{{ ta.currency }}</td>
                    <td>{{ ta.balance }}</td>
                    <td>{{ ta.equity }}</td>
                    <td>{{ ta.free_meargin }}</td>
                    <td>{{ ta.loss_profit }}</td>
                    <td>{{ ta.account_credits }}</td>
                    <td>
                      <select name="account_status_{{ta.id}}" class="form-control text-center" style="width: 5rem; color: #8b92a9;" disabled>
                        <option value="disabled" {% if ta.status == 'disabled' %} selected {% endif %}>Disabled</option>
                        <option value="active" {% if ta.status == 'active' %} selected {% endif %}>Active</option>
                      </select>
                    </td>
                    <td>
                      <select name="account_state_{{ta.id}}" class="form-control text-center" style="width: 8rem; color: #8b92a9;" disabled>
                        <option value="trading_disabled" {% if ta.state == 'trading_disabled' %} selected {% endif %}>Trading Disabled</option>
                        <option value="trading_allowed" {% if ta.state == 'trading_allowed' %} selected {% endif %}>Trading Allowed</option>
                        <option value="trading_hold" {% if ta.state == 'trading_hold' %} selected {% endif %}>Trading Hold</option>
                      </select>
                    </td>
                    <td>
                      <select name="account_type_{{ta.id}}" class="form-control text-center" style="width: 5rem; color: #8b92a9;" disabled>
                        <option value="MICRO" {% if ta.account_type == 'MICRO' %} selected {% endif %}>MICRO</option>
                        <option value="Business" {% if ta.account_type == 'Business' %} selected {% endif %}>Business</option>
                        <option value="Business Plus" {% if ta.account_type == 'Business Plus' %} selected {% endif %}>Business Plus</option>
                        <option value="STANDARD" {% if ta.account_type == 'STANDARD' %} selected {% endif %}>STANDARD</option>
                        <option value="Professional" {% if ta.account_type == 'Professional' %} selected {% endif %}>Professional</option>
                      </select>
                    </td>
                    <td>
                      <button class="btn btn-primary btn-sm btn-edit" account_id="{{ ta.id }}" status="edit">Edit</button>
                      <p class="text-center" style="font-size: 11px; margin: 0; display: none;" id="err_msg_{{ta.id}}"></p>
                    </td>
                  {% endfor %}
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <script src="{% static 'user-dashboard/assets/js/core/jquery.min.js' %}"></script>
          <script src="{% static 'js/admin/ta.js' %}"></script>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}